@model _23DH113217_MyStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <style>
        img {
            height: 250px;
            max-width: 250px;
        }
    </style>
</head>

<h2>Chi tiết sản phẩm</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <div class="col-md-4">
            <img src="@Html.DisplayFor(model => model.ProductImage)" />
        </div>
        <div class="col-md-8">
            <dt>
                Tên sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                Đơn giá
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductPrice)
            </dd>

            <dt>
                Hình ảnh
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductImage)
            </dd>

            <dt>
                Mô tả
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductDescription)
            </dd>

            <dt>
                Danh mục
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.CategoryName)
            </dd>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary btn-sm" }) |
    @Html.ActionLink("Quay lại", "Index" ,null, new { @class = "btn btn-primary btn-sm" })
</p>
