﻿@model _23DH113217_MyStore.Models.ViewModel.ProductSearchVM

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <style>
        img {
            width: 100px;
            max-width: 100px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class="form-group search-container" style="display: flex;">
            @Html.TextBoxFor(m => m.SearchTerm, new
            {
                @class = "form-control",
                placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
            })


            @Html.TextBoxFor(m => m.MinPrice, new
            {
                @class = "form-control",
                placeholder = "Nhập giá tối thiểu",
                type = "number"
            })
            @Html.TextBoxFor(m => m.MaxPrice, new
            {
                @class = "form-control",
                placeholder = "Nhập giá tối đa",
                type = "number"
            })

            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
        <div class="form-group order-container">
            @Html.ActionLink("Tên tăng dần", "Index", "Products",
                new
                {
                    sortOrder = "name_asc",
                    searchTerm = Model.SearchTerm,
                    minPrice = Model.MinPrice,
                    maxPrice = Model.MaxPrice
                }, null) |
            @Html.ActionLink("Tên giảm dần", "Index", "Products",
                new
                {
                    sortOrder = "name_desc",
                    searchTerm = Model.SearchTerm,
                    minPrice = Model.MinPrice,
                    maxPrice = Model.MaxPrice
                }, null) |
            @Html.ActionLink("Giá tăng dần", "Index", "Products",
                new
                {
                    sortOrder = "price_asc",
                    searchTerm = Model.SearchTerm,
                    minPrice = Model.MinPrice,
                    maxPrice = Model.MaxPrice
                }, null) |
            @Html.ActionLink("Giá giảm dần", "Index", "Products",
                new
                {
                    sortOrder = "price_desc",
                    searchTerm = Model.SearchTerm,
                    minPrice = Model.MinPrice,
                    maxPrice = Model.MaxPrice
                }, null) |

        </div>


    }
    @Html.Partial("PVListProduct", Model)
</body>
</html>